html, body {
	height: 100%;
	background: #1f2e38 url(noisy.png) repeat;
	margin: 0; 
	padding: 0;
}

@font-face {
    font-family: Palo_Alto_Regular;
    src: url(Palo_Alto_Regular.ttf);
}

@font-face {
    font-family: Quark;
    src: url(Quark.otf);
}

@media only screen and (min-width: 320px) {
    #mainBlock {
        width: 95%;    }

    .inputBlock {
        width: 95%;    }

    button {
        font-size:75%;
        height: 25px;
        width: 80px;
        margin-top: 15px;
        position: relative;
        left: 30px;    }  

    h3 {
        padding: 0;
        text-align: center;    }

    p, h2 {
        font-size: 14px;    }
}

@media only screen and (min-width: 980px) {
    #mainBlock {
        width: 80%;    }

    .inputBlock {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        position: relative;    }

    button {
        font-size:14px;
        height: 30px;
        width: 100px;
        margin-left: 80%;    }

    h3 { 
        padding-left: 50%;    }

    p, h2 {
        font-size: 18px;    }
}

#mainBlock {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -30px;
    margin-top: 30px;
}

.inputBlock select {
	width: 90%;
	border: 1px solid #ccc2a6;
	color: #555;
	font-size: inherit;
	margin-left: 30px;
	height: 25px;
}

#empty {
  	height: 50px;
}

h1 {
  	font-family: Palo_Alto_Regular;
  	color: #FFD544;
    text-shadow:0 0 5px rgba(255,255,255,0.5);
    font:normal;
  	font-weight: bold;
  	text-align: center;
  	padding: 0;
    margin: 0;
  	font-size: 60px;
}

h3 {
    font-family: Quark;
    font-style: italic;
    font-stretch: ultra-expanded;
    color: #FFD544;
    padding-top: 0;
    margin: 0;
}

fieldset{
  	margin: 2% 5%;
  	background-color: rgba(118,141,156,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  	border: 1 solid #ccc2a6;
    transition: opacity 1s;
}


fieldset:hover {
    opacity: 1 !important;
    transition: opacity 1s;
}

.ChangeLight:hover fieldset {
    opacity: 0.5;
    transition: opacity 1s;
}

input {
  	width: 90%;
  	margin-left: 30px;
  	border: 1 solid #ccc2a6;
  	height: 25px;
}

footer {
  background-color: #0a1a24;
  color: #ffffff;
  font-family: Calibri;
  font-size: 14px;
  height: 20px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

p, h2 {
  font-family: candara;
  font-stretch: expanded;
  color: #242A3D;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 5px;
}

.ResultsTable {
  margin: 10px auto;
  width: auto;
  border-collapse: collapse;
  table-layout: fixed;
  border: 1px solid #ccc2a6;
  background-color: #ffffff;
  font-family: calibri;
}

.ResultsTable td, th {
  border: 1px solid #9AA4AA;
  text-align: center;
  margin: 5%;
  width: 28px;
}

.ResultsTable th {
  background-color: #ABB2B6;
}



#resultString {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
  color: #242A3D;
  font-weight: bold; 	
}

button {
    background-color:#FFE86B;
    border:1px solid #FFD544;
    color:#242A3D;
    font-family:arial;
    font-weight:bold;
}

button:hover {
    background-color:#FFEE92;
    cursor: pointer;
}

ul.tabs {
  	min-height: 40px;
  	background-color: #768d9c;
    border-bottom: 1px solid #617988;
  	margin:0; 
  	padding:0; 
} 

ul.tabs li {
  	list-style:none;
  	display:inline;
  	font-family: Candara;
  	font-variant: small-caps;
  	font-size: 28px;
  	font-weight: bold;
  	margin-left: 50px;
}

a {
  	color: #c6d8e3;
  	text-decoration: none;
}

a:hover {
   	text-shadow:0 1px 0 #ccc2a6;
   	cursor: pointer;
}

.tip {
  display: inline-block;
  position: relative;
}

.tip em,
.linktip em {
  background:#ABB2B6;
  text-align:center;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: #1A0303;
  font: normal bold 12px Arial;
  text-decoration: none;
  cursor:pointer;
  padding: 0 4px;
}

.answer>b,
.answer-left>b {
  position:absolute;
  font: normal bold 14px Comic Sans MS;
  color:#999;
  cursor:pointer;
  padding: 4px;
}

.answer>b {
  top:0;
  right:0;
}
.answer-left>b {
  top:0;
  left:0;
}
.answer>b:hover,
.answer-left>b:hover {color:#000;} 

.answer,
.answer-left {
  display:none; 
  position:absolute; 
  z-index:9999; 
  background: #EDEDED; 
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #1A0303; 
  font: normal 500 14px Trebuchet MS;
  text-align:left;
  text-shadow: 0 1px 2px #fff, 0 0 10px #E0F1FF; 
  text-decoration: none;
  opacity: 1; 
  cursor:default;
  margin-top:-30px; 
  width: 200px; 
  min-height: 50px; 
  max-height: auto; 
  white-space: normal; 
}
.answer {
  box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5); 
  right: -240px; 
  padding: 5px 20px 7px 7px; 
}
.answer-left {
  box-shadow: -5px 5px 0.5em -0.1em rgba(0,0,6,0.5); 
  left: -240px; 
  padding: 5px 7px 7px 20px;
}
.a-top {
  bottom: -10px; 
}

