html, body {
	height: 100%;
	background: #1f2e38 url(noisy.png) repeat;
	margin: 0; 
	padding: 0;
}

@font-face {
  font-family: Palo_Alto_Regular;
  src: url(Palo_Alto_Regular.ttf);
}

@media only screen and (min-width: 320px) {
  #mainBlock {
    width: 95%;   }

  .inputBlock {
    width: 95%;   }
}

@media only screen and (min-width: 768px) {
  #mainBlock {
    width: 80%;   }

  .inputBlock {
    display: inline-block;
    width: 45%;
    vertical-align: top;  }
}

#mainBlock {
	background-color: #ffffff;
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
  margin-left: auto;
	margin-right: auto;
	min-height: 100%;
  height: auto !important;
	height: 100%;
  margin-bottom: -30px;
  margin-top: 30px;
}

.inputBlock select {
	width: 90%;
	border: 1px solid #eae0c2;
	color: #555;
	font-size: inherit;
	margin-left: 30px;
	height: 25px;
}

#empty {
  	height: 50px;
}

h1 {
  	font-family: Palo_Alto_Regular;
  	color: #FFD544;
    text-shadow:0 0 5px rgba(255,255,255,0.5);
    font:normal;
  	font-weight: bold;
  	text-align: center;
  	padding: 0;
    margin: 0;
  	font-size: 60px;
}

h3 {
  padding-left: 50%;
  font-family: calibri;
  color: #FFD544;
  padding-top: 0;
  margin: 0;
}

fieldset{
  	margin: 2% 5%;
  	background-color: rgba(118,141,156,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  	border: 1 solid #ccc2a6;
}

input {
  	width: 90%;
  	margin-left: 30px;
  	border: 1 solid #ccc2a6;
  	height: 25px;
}

p {
  	font-family: candara;
  	font-size: 18px;
  	font-stretch: expanded;
  	color: #505739;
  	font-weight: bold;
  	margin-left: 40px;
  	margin-bottom: 5px;
}

h2 {
  	font-family: candara;
  	font-size: 18px;
  	font-stretch: expanded;
  	color: #505739;
  	font-weight: bold;
  	margin-left: 40px;
  	margin-bottom: 5px;
}

.resultString {
  	text-align: center;
  	padding: 0;
  	margin: 0;
}

footer {
	background-color: #0a1a24;
  color: #ffffff;
	font-family: Calibri;
	font-size: 14px;
	height: 20px;
	text-align: center;
	width: 100%;
	padding-top: 10px;
}

td {
  	border: 1px solid #ffffff;
  	text-align: center;
  	margin: 5%;
}

th {
  	border: 1px solid #ffffff;
  	background-color: #ccc2a6;
}

table {
  	width: 100%;
  	margin-top: 10px;
  	margin-left: auto;
  	margin-right: auto;
  	background-color: #eae0c2;
  	border: 2px solid #ffffff;
  	border-collapse: collapse;
  	table-layout: fixed;
}

button {      
  background-color:#FFE86B;

   
  border:1px solid #FFD544;
        
  color:#242A3D;
  font-family:arial;
  font-size:14px;
  font-weight:bold;
  height: 30px;
  width: 100px;
  margin-left: 80%;                     
}

button:hover {      
  background-color:#FFEE92;
  cursor: pointer;
}

ul.tabs {
  	min-height: 40px;
  	background-color: #768d9c;
    border-bottom: 1px solid #617988;
  	margin:0px; 
  	padding:0px; 
} 

ul.tabs li {
  	list-style:none;
  	display:inline;
  	font-family: Candara;
  	font-variant: small-caps;
  	font-size: 28px;
  	font-weight: bold;
  	margin-left: 50px;
}

a {
  	color: #c6d8e3;
  	text-decoration: none;
}

a:hover {
   	text-shadow:0px 1px 0px #ccc2a6;
   	cursor: pointer;
}

